#App{
  display: flex;
  /* width: 100vh;
  height: 100vh; */
  /* justify-content: space-around; */

}

.mirador{
  position: relative;
  width: 80%;
  height: 100vh;

}
.sidepanel{
  width: 20%;
  height: 100vh;
  overflow-x: scroll;
  overflow-y: scroll;
  position: relative;
}

.miradorSideBarMinimized{
  width: 98%
}
.sideBarMinimized{
  width: 2%;
  background-color: black;
  border-right: 3px solid #1967d2;
  overflow: hidden;

}
.collection-list-item{
  cursor: pointer;
}
.close-button{
  position: absolute;
  top: 10px;
  right: 10px;
}
